.card {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 540px;
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  gap: 16px;
  flex-wrap: wrap;
}
.card__title {
  font-family: "inter";
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 32px;
  margin: 0;
  font-style: normal;
}
.card__list-item {
  padding-bottom: 16px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px;
}

.card__list-item:last-of-type {
  padding-bottom: 0px;
}

.card__list-divison {
  border-bottom: 1px solid #838383;
  flex-grow: 2;
}

.card__box {
  padding-left: 0;
}
