.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  margin-bottom: 0;
}
.footer__content {
  display: flex;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 100px;
  justify-content: space-between;
}
.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}
.footer__content_social_name {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  flex-direction: column;
}
.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 60px;
  padding-top: 108px;
  color: white;
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item-insta {
  padding-top: 16px;
}
.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
.footer__social-link {
  text-decoration: none;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__logo_practicum {
  width: 116px;
  height: 21px;
}
