.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/background_header.svg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  height: 125px;
  width: 142px;
  padding-left: 30px;
  padding-top: 30px;
}

.nav {
  justify-content: space-between;
  display: flex;
}

.nav__links {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 0;
}
.nav__link {
  color: #000000;
  text-decoration: none;
}
.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-bottom: 0;
}
.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-bottom: 0;
  margin-top: 28px;
}
.header__image {
  height: 568px;
  width: 646px;
  right: 5px;
  position: absolute;
  top: 124px;
}
.header__footer {
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: absolute;
  padding-left: 80px;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__hours-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-left: 0;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}
.header__list {
  padding-left: 0;
  padding-bottom: 40px;
  margin-bottom: 0;
  margin-top: 0;
}
.header__list-item {
  list-style-type: none;
}
.header__address {
  padding-right: 80px;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.content {
}
.recipes {
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  height: 100vh;
}
.recipes__title {
  padding-left: 80px;
  padding-top: 100px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-left: 80px;
  color: white;
  margin: 0;
  padding-top: 24px;
}
.recipes__videos {
  width: 100%;
  gap: 40px;
  padding-bottom: 215px;
  justify-content: center;
  flex-direction: row;
  padding-top: 80px;
  display: flex;
  align-items: center;
}
.recipes__iframe {
  border: none;
  align-items: center;
  width: 100%;
  height: 273px;
}
.recipes__videos-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  color: white;
  width: 480px;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 215px;
  justify-content: space-between;
}
.recipes__videos-coffee {
  width: 480px;
  height: 273px;
  flex-direction: column;
  justify-content: space-between;
}
.space {
  justify-content: space-between;
}
.footer {
}
